<%- include layouts/header.ejs %>
    <div class="container">
      <div class="row">
        <% for (var i=0; i<productos.length;i++) { %>
        <div class="col-sm-3">
          <div class="card">
            <img src="<%= productos[i].imagen %>" class="card-img-top" alt="..." height="317">
            <div class="card-body">
              <h5 class="card-title"><%= productos[i].titulo %></h5>
              <p class="card-text"><%= productos[i].descripcion %>
                <br>
                <h6>Precio: $ <%= productos[i].precio %></h6>
              </p>
              <a href="#" class="btn btn-primary">Comprar</a>
            </div>
          </div>
        </div>
        <% } %>
      </div>
  </div>
<%- include layouts/footer.ejs %>